@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
}

table{
    color: #333333;
    border-spacing: 0;
    margin: auto;
}

th{
    color: #ffffff;
    background-color: #90b4d6;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 5px 30px 5px 10px;
    font-size : 18px;
    margin: 0;
}

td{
    padding: 5px 30px 5px 10px;
    font-size : 18px;
    margin: 0;
    text-align: left;
    background-color: #84b3ad;
    width : 150px;
}

tr:nth-child(odd) td{
    background-color: #689ad8;
}

