body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

section{
    margin : 20px;
}
article p{
    font-size: 24px;
}
header p{
    font-style: italic;
}
header h1{
    font-size: 28px;
}