table * {
    border: 1px solid #000000;
}

table {
    border: 1px solid #000000;
}

.bold {
    text-align: center;
    font-weight: bold;
}

.result {
    width: 400px;
    text-align: right;
    padding-right: 5px;
}

td{
    padding-left: 5px;
}
