.wrapper {
    width: 400px;
    border: 3px solid gray;
    margin: 100px auto;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4,20%);
    grid-template-rows: repeat(4, 25%);
    grid-gap: 30px;
    padding: 50px;
}

.box{
    border: 2px solid red;
    border-radius: 10px;
    padding-top: 15px;
    text-align: center;
    color: white;
}

.item1 {
    background: #7EAAB7;
    grid-column: 1/5;
}

.item2 {
    background: #9F9584;
    grid-column: 1/3;
    grid-row: 2/4;
}

.item3 {
    background: #7184A9;
    grid-column: 3/5;
}

.item4 {
    background: #6D9EA5;

}

.item5 {
    background: #9A8C71;
}

@media screen and (max-width: 700px){
    .item2{
        grid-row: unset;
    }

    .item4{
        grid-column: 1/3;
    }

    .item5{
        grid-column: 3/5;
    }
}


