@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

section {
    background: #D3D3D3;
    text-align: center;
    padding-bottom: 20px;
}

section h1 {
    margin: 0;
    padding: 30px 0;
    font-size: 45px;
}

section > article {
    width: 27%;
    display: inline-block;
    border: 2px solid #080EFE;
    border-radius: 20px;
    padding: 20px 20px 40px 20px;
    margin: 0 10px;
    vertical-align: top;
    height: 500px;
    background: #87CEEB;
}

article span {
    font-weight: 700;
    font-size: 20px;
}

section article img {
    width: 90%;
    height: 200px;
}

article button {
    border: 1px solid #080EFE;
    border-radius: 7px;
    background: #D3D3D3;
    padding: 10px 15px;
    text-transform: uppercase;
}